@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

input,
textarea {
  background: transparent;
  @apply placeholder-white;
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  div {
    @apply bg-center bg-cover;
  }
}
