img {
  user-select: none;
  -webkit-user-drag: none;
}

p {
  line-height: 100%;
}

body,
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.vertical-text {
  text-orientation: mixed;
  writing-mode: vertical-rl;
}

.spin > svg {
  transform: rotate(0deg);
}

.show-scroll::-webkit-scrollbar {
  display: block;
  width: 2vh;
}

.show-scroll::-webkit-scrollbar-track {
  background: #ddd;
}

.show-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1vh;
}

.show-scroll::-webkit-scrollbar-thumb:hover {
  background: #777;
}
